body {
    margin: 0;
}
header {
    background-color: #1E1E1E;
    display: flex;
    padding: 0 10px;
    font-size: 1.5em;
}

header p, a {
    font-size: 1em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-decoration: none;
}

header p b {
    color: #16C15A;
}

section {
    padding: 20px;
    box-sizing: border-box;
}

#secApresentacao {
    background-image: url(/front/imgs/background.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55vh; 
    text-align: center; 
}

#secApresentacao h1 {
    color: #16C15A;
    font-size: 5em;
    margin: 0px;
}

#secApresentacao h3 {
    width: 47vw;
    color: white;
}

#secApresentacao div {
    width: 500px; 
    display: flex;
    justify-content: space-between; 
    margin: 20px 0; 
}

#secApresentacao div a{ 
    display: flex;
    margin: auto;
}

#btnReg {
    background-color: #16C15A; 
    color: white; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s; 
}
#btnReg:hover {
    background-color: #13a84a; 
    transform: scale(1.05); 
}

#btnReg:focus {
    outline: none; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

#btnReg:active {
    background-color: #128b3f;
    transform: scale(1); 
}

#btnEntrar {
    background-color: transparent; 
    color: #16C15A; 
    border: 1px solid #16C15A;
    border-radius: 5px;
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s, transform 0.3s; 
}

#btnEntrar:hover {
    background-color: #16C15A; 
    color: white; 
    transform: scale(1.05); 
}

#btnEntrar:focus {
    outline: none; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

#btnEntrar:active {
    background-color: #128b3f; 
    color: white; 
    transform: scale(1); 
}

#cardsContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 600px;
    justify-content: center;
}

#secCatalogo {
    display: flex;
    justify-content: space-between;
    background-color: #1E1E1E;
    align-items: center;
    height: 55vh;
}

.card {
    display: flex;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    flex: 1;
    max-width: 50%;
    padding: 20px;
    margin: 20px;
}

.card h2 {
    margin: 5px;
    font-family: helvetica;
    font-size: 0.9em;
    color: white;
}

.card button{
    display: flex;
    border: none;
    border-radius: 5px;
    padding: 10px 5px;
    background-color: #16C15A;
    color: white;
    margin-left: auto;
    margin-top: auto;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.card button:hover{
    background-color: #16C15A; 
    color: white; 
    transform: scale(1.05); 
}

.card button:active{
    background-color: #128b3f; 
    color: white; 
    transform: scale(1); 
}

#secCatalogo article {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    padding: 20px;
    text-align: justify;
    color: white;
}

#secCatalogo article h3{
    font-size: 3em;
    margin: 0;
}

#secCatalogo article p{
    font-size: 1.7em;
    margin: 0;
}

#secAvaliacao {
    display: flex;
    justify-content: space-between;
    background-color: #16C15A;
    height: 55vh;
}

#secAvaliacao article {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 45%;
    padding: 20px;
    text-align: justify; 
    color: black;
}

#secAvaliacao article h3 {
    font-size: 3em;
    margin: 0;
}

#secAvaliacao article p {
    font-size: 1.7em;
    margin: 0;
}

#imgAvaliacao {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
    max-width: 50%;
}

#imgAvaliacao img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}


#secFooter {
    display: flex;
    justify-content: space-between;
    background-color: #1E1E1E;
    align-items: center;
    height: 55vh;
}

#secFooter article {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    padding: 20px;
    text-align: justify;
    color: white;
}

#secFooter article h3 {
    font-size: 3em;
    margin: 0;
}

#secFooter article p {
    font-size: 1.7em;
    margin: 0;
}

#imgFooter {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgFooter img {
    max-width: 100%;
    width: auto;
    height: auto;
    border-radius: 10px;
}