/* Estilos Globais */


html, body {
    height: 100%;
    margin: 0; 
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--cinza-escuro);
    padding: 10px;
    flex-shrink: 0;
    width: 100%; 
}

.main-container {
    display: flex;
    flex: 1;
    height: 100%;
}



/* Menu Lateral */


.menu-lateral {
    width: 200px;
    background-color: var(--cinza-escuro);
    padding: 20px;
    color: #ecf0f1;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100%;
}

.menu-lateral div {
    margin-bottom: 20px;
}

.menu-lateral div img {
    display: column;
    width: 30px;
    height: 30px;
}

.menu-lateral a {
    color: var(--cinza-claro);
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}



/* Conteúdo Principal */


.content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
}

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 35vh;
    padding-top: 20vh;
}

.search-container h4 {
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 10px;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.search-box {
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
}

.search-box input {
    display: flex;
    flex: 1 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding-right: 44px;
}

.search-box button {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.search-box button img {
    height: 35px;
    width: 35px;
}

.courses-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.section-header h4 {
    font-weight: bold;
    font-size: 1.2rem;
}

.courses-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.courses-in-progress {
    background-color: var(--cinza-escuro);
    border-radius: 10px;
    padding: 20px;
    width: 60%;
    height: 90%;
    margin-right: 5%;
    margin-bottom: 30px;
}

.courses {
    margin-bottom: 20px;
    border: 1px solid var(--cinza-claro);
    border-radius: 10px;
    padding: 10px;
    background-color: var(--cinza-escuro);
    color: #000;
}

.courses header {
    display: flex;
    align-items: center;
    color: white;
    width: 60%;
}

.courses header img {
    margin-right: 10px;
}

.courses header p {
    margin: 0;
}

.courses span {
    color: white;
}

.courses p {
    margin: 0;
    color: var(--cinza-claro);
    font-size: 13px;
}

.progress-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.progress-bar {
    flex-grow: 1;
    background-color: #ecf0f1;
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
    margin-right: 10px;
}

.progress {
    background-color: #2ecc71;
    height: 100%;
    border-radius: 5px;
}

.progress-text {
    white-space: nowrap;
}

.last-video {
    background-color: var(--cinza-escuro);
    border-radius: 10px;
    padding: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--cinza-claro);
    margin-right: 5%;
}

.last-video-border {
    border: 1px solid var(--cinza-claro);
    padding: 3px;
    border-radius: 10px;
}

.imgAula img {
    width: 100%;
}

.video-details {
    margin-bottom: 15px;
}

.video-details span {
    display: block;
    color: white;
    margin: 5px 0;
}

.video-details p {
    color: var(--cinza-claro);
    margin: 0;
}

.company-logo {
    display: flex;
    align-items: center;
}

.company-logo img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.company-logo span {
    color: white;
    font-weight: bold;
}

.details-section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.details-section .section-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.details-container {
    display: flex;
    gap: 20px;
}

.details-finished {
    background-color: var(--cinza-escuro);
    border: 1px solid var(--cinza-claro);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 150px;
}

.details-finished span {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.details-finished p {
    color: var(--verde);
    font-size: 5rem;
    margin: 0;
    text-align: center;
}

.details-unfinished {
    background-color: var(--cinza-escuro);
    border: 1px solid var(--cinza-claro);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 150px;
}

.details-unfinished span {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.details-unfinished p {
    color: orange;
    font-size: 5rem;
    margin: 0;
    text-align: center;
}

.details-unfinished button {
    background-color: orange;
}
